@font-face {
  font-family: "Oranienbaum";
  src: url(../fonts/oranienbaum.ttf)
  format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Engry";
  src: url(../fonts/engry.otf)
  format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Le Murmure";
  src: url(../fonts/le-murmure.otf)
  format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Blacker Pro Condenced";
  src: url(../fonts/Blacker-Pro-Display-Condensed.ttf)
  format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Blacker Pro Display";
  src: url(../fonts/Blacker-Pro-Display.ttf)
  format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Blacker Pro Titling";
  src: url(../fonts/Blacker-Pro-Titling.ttf)
  format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Verdana";
  src: url(../fonts/Verdana.ttf)
  format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
