@import "reset.css";
@import "fonts.css";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
}

:root {
  --textblock-width: 620px;
  --line-height: 20px;
}

body {
  background-color: white;
  margin: 0;
  width: 100%;
}

nav {
  height: 48px;
  margin-top: 20px;
  width: 70vw;
  position: relative;
  left: 15vw;
  z-index: 1;
}

  ul {
    display: flex;
    font-family: "neue Machina";
  }

  li {
    /*padding: 16px 72px;*/
    width: calc((75vw - 4px) / 4 );
    height: 36px;
    border: 1px solid red;
    border-right: none;
    transition: background-color 0.1s ease-in;
  }

  li:first-of-type {
    border-radius: 50px 0% 0% 50px;
  }
  li:last-of-type {
    border-right: 1px solid red;
    border-radius: 0 50px 50px 0;
  }

  a {
    text-decoration: none;
    transition: font-size 0.1s ease-in;
    text-align: center;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    display: inline-block;
    padding-top: 7px;
  }

  a:visited {
    color: red;
  }

  li:hover {
    color: red;
    font-size: 17px;
    background-color: pink;
  }

main {
  display: block;
  width: var(--textblock-width);
  position: relative;
  left: calc((100vw - var(--textblock-width)) / 2);
  background-color: white;
  padding: 28px;
  margin-bottom: 144px;
}

h1 {
  font-family: "oranienbaum", serif;
  font-size: 68px;
  color: red;
  margin-bottom: 20px;
  margin-top: 72px;
  line-height: 48px;
}

p:first-of-type {
  margin-top: 0;
}

p {
  line-height: var(--line-height);
  margin-bottom: var(--line-height);
  font-family: "Verdana", sans-serif;
  font-size: 15px;
}

#po {
  width: calc(100% + 56px);
  transform: translateX(-28px);
  margin: var(--line-height) 0 var(--line-height) 0;
  border: 1px solid black;
}

.banner {
  width: calc(100% + 56px);
  height: calc((var(--textblock-width)) / 1.5);
  transform: translateX(-28px);
  margin: var(--line-height) 0 var(--line-height) 0;
  background-color: #eeeeee;
  overflow-y: scroll;
  background-image: url(../../img/back.png);
  background-size: cover;
  color: red !important;
}
  .first_slide {
    /* animation: firstslide 2.5s ease-in infinite; */
  }
  @keyframes firstslide {
    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  #first_t {
    font-family: "engry";
    position: absolute;
    left: 24.9%;
    font-size: 62px;
    margin-top: 118px;
    transform: scaleY(1.07);
  }
  #first_s {
    font-family: "Engry";
    position: absolute;
    font-size: 172px;
    left: 32%;
    margin-top: 24px;
  }
  #common_s {
    font-family: "le murmure";
    font-size: 120px;
    position: absolute;
    left: 53.9%;
    top: 112px;
    transform: scaleX(1.15);
  }
  #first_sign {
    font-family: "le murmure";
    font-size: 154px;
    position: absolute;
    left: 60%;
    top: 26px;
    transform: scaleY(0.97);
  }


.third_love {
  font-family: "Engry";
}

  .s1 {vertical-align: -100%;}
  .s2 {vertical-align: -100%;}
  .s3 {vertical-align: -50%;}
  .s4 {vertical-align: -25%;}
  .s6 {vertical-align: 35%;}
  .s7 {vertical-align: 50%;}

@media (min-width: 1681px) {
  p {

  }
}

@media (max-width: 1680px) {
  p {

  }
}

@media (max-width: 1440px) {
  p {

  }
}

@media (max-width: 1366px) {
  p {

  }
}

@media (max-width: 1280px) {
  p {

  }
}

/* IPAD LANDSCAPE */

@media (max-width: 1024px) {
  p {

  }
}

/* IPAD PORTRAIT */

@media (max-width: 767px) {
  :root {
    --textblock-width: 80vw;
  }

  p {

  }
}

/* IPHONE */

@media (max-width: 475px) {
  :root {
    --textblock-width: 100vw;
  }

  main {
    left: 0;
  }

  p {
  }
}
