@import "reset.css";
@import "fonts.css";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
}

:root {
  --textblock-width: 620px;
  --line-height: 20px;
}

body {
  background-color: white;
  margin: 0;
  width: 100%;
}

#po {
  width: calc(100% + 56px);
  transform: translateX(-28px);
  margin: var(--line-height) 0 var(--line-height) 0;
}

main {
  display: block;
  width: var(--textblock-width);
  position: relative;
  left: calc((100vw - var(--textblock-width)) / 2);
  background-color: white;
  padding: 28px;
}

h1 {
  font-family: "oranienbaum", serif;
  font-size: 68px;
  color: blue;
  margin-bottom: 20px;
  margin-top: 60px;
}

p:first-of-type {
  margin-top: 0;
}

p {
  line-height: var(--line-height);
  margin-bottom: var(--line-height);

}

@media (min-width: 1681px) {
  p {

  }
}

@media (max-width: 1680px) {
  p {

  }
}

@media (max-width: 1440px) {
  p {

  }
}

@media (max-width: 1366px) {
  p {

  }
}

@media (max-width: 1280px) {
  p {

  }
}

/* IPAD LANDSCAPE */

@media (max-width: 1024px) {
  p {

  }
}

/* IPAD PORTRAIT */

@media (max-width: 767px) {
  :root {
    --textblock-width: 80vw;
  }

  p {

  }
}

/* IPHONE */

@media (max-width: 475px) {
  :root {
    --textblock-width: 100vw;
  }

  main {
    left: 0;
  }

  p {
  }
}
