@import "reset.css";
@import "fonts.css";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
}

:root {
  --textblock-width: 620px;
  --line-height: 20px;
}

body {
  background-color: white;
  margin: 0;
  width: 100%;
}

nav {
  height: 48px;
  margin-top: 20px;
  width: 70vw;
  position: relative;
  left: 15vw;
  z-index: 1;
}

  ul {
    display: flex;
    font-family: "neue Machina";
    list-style: none;
  }

  li {
    /*padding: 16px 72px;*/
    width: calc((75vw - 4px) / 4 );
    height: 36px;
    border: 1px solid red;
    border-right: none;
    transition: background-color 0.1s ease-in;
  }

  li:first-of-type {
    border-radius: 50px 0% 0% 50px;
  }
  li:last-of-type {
    border-right: 1px solid red;
    border-radius: 0 50px 50px 0;
  }

  a {
    text-decoration: none;
    transition: font-size 0.1s ease-in;
    text-align: center;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    display: inline-block;
    padding-top: 7px;
    color: red;
  }

  a:visited {
    color: red;
  }

  li:hover {
    color: red;
    font-size: 17px;
    background-color: pink;
  }

main {
  display: block;
  width: var(--textblock-width);
  position: relative;
  left: calc((100vw - var(--textblock-width)) / 2);
  background-color: white;
  padding: 28px;
  margin-bottom: 100px;
}

h1 {
  font-family: "oranienbaum", serif;
  font-size: 68px;
  color: red;
  margin-bottom: 20px;
  margin-top: 72px;
  line-height: 48px;
  font-weight: normal;
}

p:first-of-type {
  margin-top: 0;
}

p {
  line-height: var(--line-height);
  margin-bottom: var(--line-height);
  font-family: "Verdana", sans-serif;
  font-size: 15px;
}

.banner {
  width: calc(100% + 56px);
  height: calc((var(--textblock-width)) / 1.5);
  transform: translateX(-28px);
  margin: var(--line-height) 0 var(--line-height) 0;
  overflow-y: scroll;
  color: red !important;
  overflow-x: hidden;
}

#back {
  position: absolute;
  width: 100%;
  opacity: 0.0;
}

  #frame {
    position: sticky;
    height: 100%;
    top: 0px;
    z-index: 100;
    width: 100%;
  }

  .first_slide {
     animation: firstslide 4s ease-in infinite;
     transform: translateY(-420px);
  }

  @keyframes firstslide {
    0% {
      opacity: 0;
    }

    10% {
      opacity: 1;
    }

    35% {
      opacity: 1;
    }

    45% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }
  #first_t {
    font-family: "engry";
    position: absolute;
    left: 24.9%;
    font-size: 62px;
    margin-top: 118px;
    transform: scaleY(1.07);
    color: black;
  }
  #first_s {
    font-family: "Engry";
    position: absolute;
    font-size: 172px;
    left: 32%;
    margin-top: 24px;
    color: black;
  }
  #common_s {
    font-family: "le murmure";
    font-size: 120px;
    position: absolute;
    left: 53.9%;
    top: 112px;
    transform: scaleX(1.15);
    color: #00fcbd;
  }
  #first_sign {
    font-family: "le murmure";
    font-size: 154px;
    position: absolute;
    left: 60%;
    top:28px;
    transform: scaleY(0.97);
    color: #00fcbd;
  }
  #first_hand {
    position: absolute;
    height: 246px;
    transform: scaleX(-1) rotate(8deg);
    left: 59.2%;
    top: 106px;
    animation: hand 4s ease-in infinite;
  }
  @keyframes hand {
    45% {
      transform: scaleX(-1) rotate(8deg);
    }
    55% {
      transform: scaleX(-1) rotate(8deg) rotate(194deg) translate(-24px, -12px);
    }
    85% {
      transform: scaleX(-1) rotate(8deg) rotate(194deg) translate(-24px, -12px);
    }
    99.9% {
      transform: scaleX(-1) rotate(8deg);
    }
    100% {
      transform: scaleX(-1) rotate(8deg);
    }
  }
  #first_smile {
    position: absolute;
    height: 64px;
    left: 64%;
    top: 82px;
  }

.second_slide {
  position: absolute;
  top: -580px;
  width: 100%;
  animation: secondslide 4s ease-in infinite;
}
@keyframes secondslide {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  55% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
  #second_l {
    font-family: "oranienbaum";
    font-size: 84px;
    position: absolute;
    left: 26.7%;
    top: 624px;
    transform: scaleX(1.35);
    color: black;
  }
  #second_i {
    font-family: "engry";
    font-size: 136px;
    position: absolute;
    left: 31.3%;
    top: 632px;
    color: black;
  }
  #second_t {
    font-family: "le murmure";
    font-size: 136px;
    position: absolute;
    left: 59.1%;
    top: 626px;
    transform: scaleY(0.97);
    color: #00fcbd;
  }
  #second_a {
    font-family: "le murmure";
    font-size: 92px;
    position: absolute;
    left: 65.6%;
    top: 602px;
    color: black;
  }
  #second_y {
    font-family: "engry";
    font-size: 100px;
    position: absolute;
    left: 69.5%;
    top: 666px;
    color: black;
    transform: scaleY(0.9) scaleX(0.9);
  }
  #second_v {
    font-family: "le murmure";
    font-size: 80px;
    position: absolute;
    left: 9.9%;
    top: 712px;
    color: black;
  }
  #second_n {
    font-family: "engry";
    font-size: 104px;
    position: absolute;
    left: 12.8%;
    top: 728px;
    color: black;
  }
  #second_ii {
    font-family: "blacker pro";
    font-style: italic;
    font-size: 68px;
    position: absolute;
    left: 28.3%;
    top: 804px;
    color: black;
  }
  #second_z {
    font-family: "oranienbaum";
    font-size: 90px;
    position: absolute;
    left: 36.1%;
    top: 830px;
    color: black;
  }

.third_slide {
  position: absolute;
  transform: translate(80px,-1320px);
}

#third_eye {
  position: absolute;
  top: 1470px;
  animation: eye 10s linear infinite;
  height: 112px;
  left: 220px;
}

@keyframes eye {
  13% {
    transform: rotate(-110deg);
  }

  20% {
    transform: rotate(-180deg);
  }

  25% {
    transform: rotate(-115deg);
  }

  40% {
    transform: rotate(-220deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  59% {
    transform: rotate(-80deg);
  }

  70% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(20deg);
  }

  92% {
    transform: rotate(10deg);
  }


}

.third_love {
  font-family: "Engry";
  position: absolute;
  top: 1548px;
  left: 13%;
  font-size: 24px;
  color: black;
}

  .s1 {vertical-align: -100%;}
  .s2 {vertical-align: -100%;}
  .s3 {vertical-align: -50%;}
  .s4 {vertical-align: -25%;}
  .s6 {vertical-align: 35%;}
  .s7 {vertical-align: 50%;}

  .green_p {
    font-size: 52px;
    color: #00fcbd;
    position: absolute;
    font-family: "blacker pro";
    font-style: italic;
    line-height: 44px;
    transform: rotate(-10deg);
    text-align: right;
    z-index: 2;
  }

  #first_green {
    top: 1620px;
    left: 48px;
  }

  .fourth_slide {
    position: absolute;
    transform: translateY(-1280px);
    width: 100%;
  }

  #letat {
    top: 1936px;
    left: 16%;
    font-size: 56px;
  }

  #na {
    top: 2020px;
    left: 40.9%;
    font-size: 56px;
  }

  #metle {
    top: 2044px;
    left: 52.5%;
    font-size: 56px;
  }

  #vacuum1,
  #vacuum2,
  #vacuum3 {
    position: absolute;
    animation: vacuum 3.2s ease-in infinite;
    transform: rotate(45deg);
    height: 200px;
    z-index: 1;
    mix-blend-mode: darken;
  }

#vacuum1 {
  top: 2100px;
  left: -160px;
}

#vacuum2 {
  top: 2160px;
  left: -160px;
  transform: scale(0.9);
  animation-delay: 0.6s;
  animation-duration: 2.9s !important;
}

.fifth_slide {
  transform: translateY(-1180px);
}

.blackp {
  color: black;
  font-family: "engry";
  font-size: 24px;
}

.sixth {
  position: absolute;
  transform: translateY();
  top: 1956px;
  z-index: 200;
}

#then {
  position: absolute;
  left: 88px;
}

#go {
  position: absolute;
  left: 224px;
  top: 68px;
}

#to {
  position: absolute;
  left: 424px;
  top: 172px;
}

#o2 {
  vertical-align: -50%;
}
#o3 {
  vertical-align: 90%;
}
#o4 {
  vertical-align: 80%;
}
#o5 {
  vertical-align: -50%;
}
#o6 {
  vertical-align: -80%;
}
#o7 {
  vertical-align: -50%;
}
#o8 {
  vertical-align: -130%;
}
#o9 {
  vertical-align: -180%;
}
#o10 {
  vertical-align: -230%;
}

#goat {
  position: absolute;
  top: 2300px;
  left: -180px;
  height: 200px;
  animation: goat 3s ease-in infinite;
}

@keyframes goat {

  10% {
    transform: translate(220px,-90px);
  }
  15% {
    transform: translate(260px,-70px);
  }
  25% {
    transform: translate(300px,-100px);
  }
  50% {
    transform: translate(380px,-85px);
  }
  75% {
    transform: translate(420px,-110px);
  }
  90% {
    transform: translate(460px,-80px);
  }
  100% {
    transform: translate(920px,-290px);
  }
}

#clean {
  font-size: 60px;
  top: 2380px;
  left: 136px;
}

  @keyframes vacuum {
    70% {
      transform: rotate(45deg) ;
    }

    100% {
      transform: translate(900px, -500px) rotate(45deg);
    }
  }

#grad {
  position: absolute;
  z-index: 101;
  top: 1980px;
  bottom: 0px;
  opacity: 1;
}

.finale {
  z-index: 102;
}

.sabbath {
  position: absolute;
  top: 2400px;
  left: 66px;
  z-index: 1000;
}

#sh1 {
  position: absolute;
  font-family: "Engry";
  font-size: 60px;
  color: black;
  transform: translate(-30px, -20px) scale(0.8, 1.8);
}
#a2 {
  position: absolute;
  font-family: "le murmure";
  font-size: 80px;
  color: black;
  transform: translate(44px, 0px) scale(1, 1.45);
}
#b2 {
  position: absolute;
  font-family: "blacker pro";
  font-stretch: condensed;
  font-size: 90px;
  color: black;
  transform: translate(64px, -4px) scale(1, 1.8);
}
#a12 {
  position: absolute;
  font-family: "blacker pro";
  font-weight: blow;
  font-size: 68px;
  color: black;
  transform: translate(112px, -16px) scale(1.5, 1.1);
}
#sh2 {
  position: absolute;
  font-family: "le murmure";
  font-size: 100px;
  color: black;
  transform: translate(178px, -4px) scale(0.8, 0.91);
}
#tire2 {
  position: absolute;
  font-family: "blacker pro";
  font-size: 90px;
  color: black;
  transform: translate(220px, -24px) scale(1, 1.8);
}
#s2 {
  position: absolute;
  font-family: "le murmure";
  font-size: 180px;
  color: black;
  transform: translate(36px, 140px) scale(1, 1);
}
#u2 {
  position: absolute;
  font-family: "engry";
  font-stretch: condensed;
  font-size: 80px;
  color: black;
  transform: translate(64px, 210px) scale(0.7, 1);
}
#b3 {
  position: absolute;
  font-family: "blacker pro";
  font-weight: bold;
  font-size: 90px;
  color: black;
  transform: translate(104px, 182px) scale(0.63, 0.91);
}
#b4 {
  position: absolute;
  font-family: "blacker pro";
  font-stretch: condensed;
  font-size: 90px;
  color: black;
  transform: translate(158px, 230px) scale(1.2, 0.6);
}
#o22{
  position: absolute;
  font-family: "engry";
  font-size: 90px;
  color: black;
  transform: translate(230px, 230px) scale(1.76, 0.66);
}
#t2 {
  position: absolute;
  font-family: "engry";
  font-size: 120px;
  color: black;
  transform: translate(286px, 182px) scale(0.5, 1.65);
}
#n2{
  position: absolute;
  font-family: "blacker pro";
  font-style: italic;
  font-size: 52px;
  color: black;
  transform: translate(367px, 199px) scale(1.05, 1.3);
}
#i2{
  position: absolute;
  font-family: "le murmure";
  font-size: 90px;
  color: black;
  transform: translate(410px, 148px) scale(1, 0.975);
}
#k2 {
  position: absolute;
  font-family: "engry";
  font-size: 180px;
  color: black;
  transform: translate(390px, 32px) scale(0.45, 1.2);
}
.letters {
  z-index: 1000;
}
#margo {
  position: absolute;
  top: 90px;
  height: 212px;
  transform: translate(330px, -70px);
}
#masha {
  position: absolute;
  top: 90px;
  height: 242px;
  transform: translate(146px, -72px);
}
#nastya {
  position: absolute;
  top: 90px;
  height: 200px;
  transform: translate(8px, -40px);
}
#final {
  position: absolute;
  height: 200px;
  top: 2960px;
  z-index: 1000;
  left: 160px;
}

#regi {
  position: absolute;
  top: 2900px;
  left: 60px;
  z-index: 10000;
}

#na2 {
  position: absolute;
  top: 2970px;
  left: 290px;
  z-index: 10000;
}

#o31 {
  vertical-align: -40%;
}
#o32 {
  vertical-align: -80%;
}
#o33 {
  vertical-align: -120%;
}
#o34 {
  vertical-align: -160%;
}
#o35 {
  vertical-align: -120%;
}
#o36 {
  vertical-align: -80%;
}


@media (min-width: 1681px) {
  p {

  }
}

@media (max-width: 1680px) {
  p {

  }
}

@media (max-width: 1440px) {
  p {

  }
}

@media (max-width: 1366px) {
  p {

  }
}

@media (max-width: 1280px) {
  p {

  }
}

/* IPAD LANDSCAPE */

@media (max-width: 1024px) {
  p {

  }
}

/* IPAD PORTRAIT */

@media (max-width: 767px) {
  :root {
    --textblock-width: 80vw;
  }

  p {

  }
}

/* IPHONE */

@media (max-width: 475px) {
  :root {
    --textblock-width: 100vw;
  }

  main {
    left: 0;
  }

  p {
  }
}
